# cookie cutter
pip==19.0.3
bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==1.12.1

# general
catpy==0.3.0
numpy==1.16.2

# arbor-segmentation combo
pyn5==0.1.0
git+git://github.com/pattonw/sarbor@master

# funke segmentation access
scikit-image==0.14.2
Cython==0.29.6
mahotas==1.4.5
git+git://github.com/funkelab/daisy@master
git+git://github.com/funkelab/lsd@master
git+git://github.com/funkey/gunpowder@release-v1.0
git+git://github.com/funkelab/funlib.segment@master
git+git://github.com/funkey/waterz@master

# data vis
matplotlib==3.0.3
scipy==1.2.1
pandas==0.24.2
seaborn==0.9.0
